<?xml version="1.0" encoding="utf-8" ?> 
<configuration> <connectionStrings> 
	<add name="Agro_Farm_Connection" connectionString="Data Source=LAPTOP-VMUG32EU\SQLEXPRESS;Initial Catalog=Pro_Agro_FarmDB;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
 </connectionStrings> <startup> <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
 </startup>
 </configuration>